/**
*
* Broadcast Penalties Screen for CRG 5.x and earlier
* John Fox and Daniel Alt (Adam Smasher)
*
 */


/* Change this background color to whatever your overlay chromakey is set to */
body { background-color: rgba(0,0,0,0); font-size: 10pt; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

img { position: absolute; }
div { position: absolute; } 

div.Full { width: 100%; height: 100%; }
img.Bar { width: 100%; top: 0%; }
img.BotBar { width: 100%; top: 75.6%; }

#mainDiv.hideyou { visibility: hidden; }


a {
  position: relative;
  font-family: 'roboto';
  font-weight: bold;
}

#debug {font-size: 3.6%}

#StatusBar { left: 25.4%; right: 23.7%; top: 12.6%; bottom: 2%; height: 6.5%; text-align: center; font-size: 4.9%; z-index: 300; color: white; }

#TopBar { left: 15.9%; width: 66.27%; top: 49.6%; height: 100%; text-align: center; z-index: 300; font-size: 4.3%; }
#BottomBar { left: 0.6%; width: 100%; top: 19.8%; height: 67.2%; text-align: center; z-index: 300; font-size: 6.5%; }

#BottomSwatchBar { left: 27.5%; width: 72.3%; top: 19.2%; height: 67.5%; text-align: center; z-index: 103; }

#LogoBar { z-index:150; }

#Team1Logo { top: 0.2%; height: 18%; width: 10.5%; left: 22.4%; }
#Team1Logo> img { top: 0%; bottom: 0%; left: 0%; right: 0%; max-height: 100%; max-width: 100%; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; } /* center img */

#Team2Logo { top: 0.2%; height: 18%; width: 10.5%; left: 72.8%; }
#Team2Logo> img { top: 0%; bottom: 0%; left: 0%; right: 0%; max-height: 100%; max-width: 100%; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; } /* center img */


#Team1Logo.SwapTeams { left: 60.7%; }
#Team2Logo.SwapTeams { left: 40.9%; }

.noBack {
	background-color:rgba(0,255,0,0.0);
}

.hideme {
        visibility: hidden;
}

/* Same css as the pt screen */
.Team {
	position: absolute;
	width: 48.3%;
	top: 0%;
}
.Team thead td { font-size: 100%; position: relative; font-family: 'roboto'; font-weight: bold; background-color: #000; color: #FFF; }
.Teamd { top: 0%; font-size: 100%; font-family: 'roboto'; font-weight: bold; color: #FFF; }
.tdivr { font-size: 48%; position: relative; font-family: 'roboto'; font-weight: bold; color: #FFF; height: 6.6%; }
.Team td { text-align: center; vertical-align: center; font-size: 52%; color: #FFF; }
.Team1  { right: 0.5%; font-family: 'roboto'; font-weight: bold; top: 12%; left: 1%; width: 47%; text-align: center; overflow: hidden;color: white; }
.Teamd1 { left: 0.2%; height: 88%; width: 48%; text-align: center; overflow: hidden;color: white; }
.Team2  { right: 0.5%; font-family: 'roboto'; font-weight: bold; top: 12%; left: 51%; width: 47%; text-align: center; overflow: hidden;color: white; }
.Teamd2 { left: 51%; height: 88%; width: 48%; text-align: center; overflow: hidden;color: white; }
.PenaltyTotal {float: right; font-size: 48%; top: unset;  background: black; text-align: right; padding-right: 0.5%; position: absolute; bottom: 5px; padding-bottom: 0%;  }
.PT1 {right:51.8%; width: 20.4%;}
.PT2 {right:1.0%; width: 20.6%;}

.Team .Name .Number, .Team .Box, .Team .FO_EXP, .Team .Total { width: 5%; }
.Number { left: 0%; width: 10%; text-align: right; }
.Name { left: 12%; width: 44%; height: 100%; text-align: left; overflow: hidden; }

.PenaltyEditor .Codes>div { float: left; width: 150px; height: 80px; margin: 10px; font-weight: bold; }
.PenaltyEditor .Codes>div.Active { background-color: #F00; color: #FFF; }
.PenaltyEditor .Codes>div div { text-align: center; }
.PenaltyEditor .Codes>div .Code { font-size: 52%; background-color: #FAA; color: #000; }
.PenaltyEditor .Codes>div .Description { font-size: 51%; }

.Team1custColor { top: 0%; left: 0%; height: 100%; width:30%; background-color: #000000; opacity: .6; }
.Team2custColor { top: 0%; right: 0%; height: 100%; width:30%; background-color: #000000; opacity: .6; }

.Box { color: #FFF; width: 4%; font-size: 90%; top: 6%; }
.Box1 { left: 56.5%; }
.Box2 { left: 60.3%; }
.Box3 { left: 64.2%; }
.Box4 { left: 68.1%; }
.Box5 { left: 72%; }
.Box6 { left: 75.9%; }
.Box7 { left: 79.8%; }
.Box8 { left: 83.9%; }
.Box9 { left: 87.9%; }
.BoxFO_EXP { top: 12%; left: 92.3%; color: #FFF; font-size: 76%; }
.Total { left: 97%; color: #FFF; }

